*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Roboto, sans-serif ;
}

body{
    background-color: white;
    color: black;
    min-height: 100vh;
    line-height: 1.125;
}